/*! CSS Used from: Embedded */
::-webkit-input-placeholder{color:rgb(193, 198, 205);font-style:normal!important;}
.gPuCpU{padding:16px;border:1px solid rgb(250, 250, 250);background-color:rgb(250, 250, 250);border-radius:4px;}
.gPuCpU:hover{border:1px solid rgb(240, 185, 11);cursor:pointer;}
.brnugI{font-size:14px;line-height:24px;width:170px;color:rgb(60, 65, 82);overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.hGoByg{font-weight:400;font-size:14px;line-height:22px;color:rgb(26, 31, 52);width:20%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;flex:1 1 0%;}
/*! CSS Used from: Embedded */
.css-10nf7hq{box-sizing:border-box;margin:0px;min-width:0px;display:flex;-webkit-box-align:center;align-items:center;}
.css-vurnku{box-sizing:border-box;margin:0px;min-width:0px;}
.css-srkklw{box-sizing:border-box;margin:0px;min-width:0px;display:flex;-webkit-box-align:center;align-items:center;font-size:14px;height:26px;color:rgb(132, 142, 156);padding-bottom:12px;}
@media screen and (min-width: 767px){
    .css-srkklw{padding-bottom:8px;}
}
.css-1g6lkvi{box-sizing:border-box;margin:0px;min-width:0px;color:rgb(146, 154, 165);font-size:16px;fill:rgb(146, 154, 165);width:1em;height:1em;}
.css-54x4b9{box-sizing:border-box;margin:0px;min-width:0px;padding-bottom:20px;}
@media screen and (min-width: 767px){
    .css-54x4b9{padding-bottom:24px;}
}
.css-1kmblw8{box-sizing:border-box;margin:0px 0px 8px;min-width:0px;color:rgb(71, 77, 87);line-height:18px;}
.css-lxpuj3{box-sizing:border-box;margin:0px;min-width:0px;display:grid;grid-template-columns:1fr;row-gap:8px;}
.css-1l30zt{margin:0px;appearance:none;user-select:none;cursor:pointer;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-flex;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;box-sizing:border-box;font-size:14px;font-family:inherit;font-weight:500;text-align:center;text-decoration:none;outline:none;padding:6px 12px;line-height:20px;word-break:keep-all;color:rgb(24, 26, 32);border-radius:4px;min-height:24px;border:none;background-image:none;background-color:rgb(252, 213, 53);height:fit-content;width:fit-content;min-width:104px;}
.css-1l30zt:disabled{cursor:not-allowed;background-image:none;background-color:rgb(234, 236, 239);color:rgb(183, 189, 198);}
.css-1l30zt:disabled:not(.inactive){background-color:rgb(234, 236, 239);color:rgb(183, 189, 198);cursor:not-allowed;}
.css-164cs52{box-sizing:border-box;margin:0px 4px 0px 0px;min-width:0px;color:currentcolor;font-size:14px;fill:currentcolor;width:1em;height:1em;}
.css-3j2kqe{box-sizing:border-box;margin:0px;min-width:0px;display:flex;-webkit-box-pack:justify;justify-content:space-between;}
.css-1hs4uya{box-sizing:border-box;margin:0px 0px 8px;min-width:0px;display:flex;flex:1 1 0%;-webkit-box-align:center;align-items:center;}
.css-3fkp93{box-sizing:border-box;margin:0px 8px 0px 0px;min-width:0px;color:rgb(5, 192, 199);max-width:160px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-block;background-color:rgb(255, 255, 255);padding:4px 8px;border-radius:4px;text-align:center;}
.css-17vxs3h{box-sizing:border-box;margin:0px;min-width:0px;position:relative;display:flex;}
.css-1yof1af{margin:0px;min-width:0px;box-sizing:content-box;position:absolute;width:max-content;word-break:normal;z-index:1400;max-width:296px;font-weight:400;font-size:12px;line-height:16px;color:rgb(255, 255, 255);background-color:rgb(94, 102, 115);border-radius:4px;padding:8px 12px;filter:drop-shadow(rgba(20, 21, 26, 0.08) 0px 3px 6px) drop-shadow(rgba(71, 77, 87, 0.08) 0px 7px 14px) drop-shadow(rgba(20, 21, 26, 0.1) 0px 0px 1px);}
.css-1yof1af[data-popper-placement^="top"] > [data-popper-arrow]{bottom:-3px;}
.css-1yof1af > .gap-fill{position:absolute;display:block;}
.css-1yof1af[data-popper-placement^="top"] > [data-popper-arrow]::before{transform:rotate(45deg);}
.css-1yof1af[data-popper-placement^="top"] > .gap-fill{bottom:-8px;left:0px;width:100%;height:8px;}
.css-1yof1af .bn-tooltip-arrow::before{background-color:rgb(94, 102, 115);}
.css-1u9esp9{box-sizing:border-box;margin:0px;min-width:0px;}
.css-1u9esp9,.css-1u9esp9::before{position:absolute;width:6px;height:6px;z-index:-1;}
.css-1u9esp9::before{content:"";display:block;}
.css-1f9551p{box-sizing:border-box;margin:0px;min-width:0px;display:inline-block;position:relative;}
.css-6dcozs{box-sizing:border-box;margin:0px 8px 0px 0px;min-width:0px;color:rgb(0, 60, 113);max-width:160px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-block;background-color:rgb(255, 255, 255);padding:4px 8px;border-radius:4px;text-align:center;}
/*! CSS Used from: Embedded */
.css-vurnku{box-sizing:border-box;margin:0px;min-width:0px;}
/*! CSS Used from: Embedded */
.css-vurnku{box-sizing:border-box;margin:0px;min-width:0px;}
/*! CSS Used from: Embedded */
.css-vurnku{box-sizing:border-box;margin:0px;min-width:0px;}
/*! CSS Used from: Embedded */
.css-vurnku{box-sizing:border-box;margin:0px;min-width:0px;}
/*! CSS Used from: Embedded */
.css-vurnku{box-sizing:border-box;margin:0px;min-width:0px;}
/*! CSS Used from: Embedded */
.css-vurnku{box-sizing:border-box;margin:0px;min-width:0px;}
.css-3j2kqe{box-sizing:border-box;margin:0px;min-width:0px;display:flex;-webkit-box-pack:justify;justify-content:space-between;}
.css-1hs4uya{box-sizing:border-box;margin:0px 0px 8px;min-width:0px;display:flex;flex:1 1 0%;-webkit-box-align:center;align-items:center;}
.css-3fkp93{box-sizing:border-box;margin:0px 8px 0px 0px;min-width:0px;color:rgb(5, 192, 199);max-width:160px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-block;background-color:rgb(255, 255, 255);padding:4px 8px;border-radius:4px;text-align:center;}
.css-1f9551p{box-sizing:border-box;margin:0px;min-width:0px;display:inline-block;position:relative;}
.css-1yof1af{margin:0px;min-width:0px;box-sizing:content-box;position:absolute;width:max-content;word-break:normal;z-index:1400;max-width:296px;font-weight:400;font-size:12px;line-height:16px;color:rgb(255, 255, 255);background-color:rgb(94, 102, 115);border-radius:4px;padding:8px 12px;filter:drop-shadow(rgba(20, 21, 26, 0.08) 0px 3px 6px) drop-shadow(rgba(71, 77, 87, 0.08) 0px 7px 14px) drop-shadow(rgba(20, 21, 26, 0.1) 0px 0px 1px);}
.css-1yof1af[data-popper-placement^="top"] > [data-popper-arrow]{bottom:-3px;}
.css-1yof1af > .gap-fill{position:absolute;display:block;}
.css-1yof1af[data-popper-placement^="top"] > [data-popper-arrow]::before{transform:rotate(45deg);}
.css-1yof1af[data-popper-placement^="top"] > .gap-fill{bottom:-8px;left:0px;width:100%;height:8px;}
.css-1yof1af .bn-tooltip-arrow::before{background-color:rgb(94, 102, 115);}
.css-1u9esp9{box-sizing:border-box;margin:0px;min-width:0px;}
.css-1u9esp9,.css-1u9esp9::before{position:absolute;width:6px;height:6px;z-index:-1;}
.css-1u9esp9::before{content:"";display:block;}
.css-6dcozs{box-sizing:border-box;margin:0px 8px 0px 0px;min-width:0px;color:rgb(0, 60, 113);max-width:160px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-block;background-color:rgb(255, 255, 255);padding:4px 8px;border-radius:4px;text-align:center;}
/*! CSS Used from: Embedded */
.css-vurnku{box-sizing:border-box;margin:0px;min-width:0px;}
/*! CSS Used from: Embedded */
.css-vurnku{box-sizing:border-box;margin:0px;min-width:0px;}
.css-3j2kqe{box-sizing:border-box;margin:0px;min-width:0px;display:flex;-webkit-box-pack:justify;justify-content:space-between;}
.css-1hs4uya{box-sizing:border-box;margin:0px 0px 8px;min-width:0px;display:flex;flex:1 1 0%;-webkit-box-align:center;align-items:center;}
.css-3fkp93{box-sizing:border-box;margin:0px 8px 0px 0px;min-width:0px;color:rgb(5, 192, 199);max-width:160px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-block;background-color:rgb(255, 255, 255);padding:4px 8px;border-radius:4px;text-align:center;}
.css-1f9551p{box-sizing:border-box;margin:0px;min-width:0px;display:inline-block;position:relative;}
.css-1yof1af{margin:0px;min-width:0px;box-sizing:content-box;position:absolute;width:max-content;word-break:normal;z-index:1400;max-width:296px;font-weight:400;font-size:12px;line-height:16px;color:rgb(255, 255, 255);background-color:rgb(94, 102, 115);border-radius:4px;padding:8px 12px;filter:drop-shadow(rgba(20, 21, 26, 0.08) 0px 3px 6px) drop-shadow(rgba(71, 77, 87, 0.08) 0px 7px 14px) drop-shadow(rgba(20, 21, 26, 0.1) 0px 0px 1px);}
.css-1yof1af[data-popper-placement^="top"] > [data-popper-arrow]{bottom:-3px;}
.css-1yof1af > .gap-fill{position:absolute;display:block;}
.css-1yof1af[data-popper-placement^="top"] > [data-popper-arrow]::before{transform:rotate(45deg);}
.css-1yof1af[data-popper-placement^="top"] > .gap-fill{bottom:-8px;left:0px;width:100%;height:8px;}
.css-1yof1af .bn-tooltip-arrow::before{background-color:rgb(94, 102, 115);}
.css-1u9esp9{box-sizing:border-box;margin:0px;min-width:0px;}
.css-1u9esp9,.css-1u9esp9::before{position:absolute;width:6px;height:6px;z-index:-1;}
.css-1u9esp9::before{content:"";display:block;}
.css-6dcozs{box-sizing:border-box;margin:0px 8px 0px 0px;min-width:0px;color:rgb(0, 60, 113);max-width:160px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-block;background-color:rgb(255, 255, 255);padding:4px 8px;border-radius:4px;text-align:center;}
/*! CSS Used from: Embedded */
.css-vurnku{box-sizing:border-box;margin:0px;min-width:0px;}
/*! CSS Used from: Embedded */
.css-vurnku{box-sizing:border-box;margin:0px;min-width:0px;}
.css-3j2kqe{box-sizing:border-box;margin:0px;min-width:0px;display:flex;-webkit-box-pack:justify;justify-content:space-between;}
.css-1hs4uya{box-sizing:border-box;margin:0px 0px 8px;min-width:0px;display:flex;flex:1 1 0%;-webkit-box-align:center;align-items:center;}
.css-3fkp93{box-sizing:border-box;margin:0px 8px 0px 0px;min-width:0px;color:rgb(5, 192, 199);max-width:160px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-block;background-color:rgb(255, 255, 255);padding:4px 8px;border-radius:4px;text-align:center;}
.css-1f9551p{box-sizing:border-box;margin:0px;min-width:0px;display:inline-block;position:relative;}
.css-1yof1af{margin:0px;min-width:0px;box-sizing:content-box;position:absolute;width:max-content;word-break:normal;z-index:1400;max-width:296px;font-weight:400;font-size:12px;line-height:16px;color:rgb(255, 255, 255);background-color:rgb(94, 102, 115);border-radius:4px;padding:8px 12px;filter:drop-shadow(rgba(20, 21, 26, 0.08) 0px 3px 6px) drop-shadow(rgba(71, 77, 87, 0.08) 0px 7px 14px) drop-shadow(rgba(20, 21, 26, 0.1) 0px 0px 1px);}
.css-1yof1af[data-popper-placement^="top"] > [data-popper-arrow]{bottom:-3px;}
.css-1yof1af > .gap-fill{position:absolute;display:block;}
.css-1yof1af[data-popper-placement^="top"] > [data-popper-arrow]::before{transform:rotate(45deg);}
.css-1yof1af[data-popper-placement^="top"] > .gap-fill{bottom:-8px;left:0px;width:100%;height:8px;}
.css-1yof1af .bn-tooltip-arrow::before{background-color:rgb(94, 102, 115);}
.css-1u9esp9{box-sizing:border-box;margin:0px;min-width:0px;}
.css-1u9esp9,.css-1u9esp9::before{position:absolute;width:6px;height:6px;z-index:-1;}
.css-1u9esp9::before{content:"";display:block;}
.css-6dcozs{box-sizing:border-box;margin:0px 8px 0px 0px;min-width:0px;color:rgb(0, 60, 113);max-width:160px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-block;background-color:rgb(255, 255, 255);padding:4px 8px;border-radius:4px;text-align:center;}
/*! CSS Used from: Embedded */
.css-vurnku{box-sizing:border-box;margin:0px;min-width:0px;}
/*! CSS Used from: Embedded */
.css-vurnku{box-sizing:border-box;margin:0px;min-width:0px;}
.css-3j2kqe{box-sizing:border-box;margin:0px;min-width:0px;display:flex;-webkit-box-pack:justify;justify-content:space-between;}
.css-1hs4uya{box-sizing:border-box;margin:0px 0px 8px;min-width:0px;display:flex;flex:1 1 0%;-webkit-box-align:center;align-items:center;}
.css-3fkp93{box-sizing:border-box;margin:0px 8px 0px 0px;min-width:0px;color:rgb(5, 192, 199);max-width:160px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-block;background-color:rgb(255, 255, 255);padding:4px 8px;border-radius:4px;text-align:center;}
.css-1f9551p{box-sizing:border-box;margin:0px;min-width:0px;display:inline-block;position:relative;}
.css-1yof1af{margin:0px;min-width:0px;box-sizing:content-box;position:absolute;width:max-content;word-break:normal;z-index:1400;max-width:296px;font-weight:400;font-size:12px;line-height:16px;color:rgb(255, 255, 255);background-color:rgb(94, 102, 115);border-radius:4px;padding:8px 12px;filter:drop-shadow(rgba(20, 21, 26, 0.08) 0px 3px 6px) drop-shadow(rgba(71, 77, 87, 0.08) 0px 7px 14px) drop-shadow(rgba(20, 21, 26, 0.1) 0px 0px 1px);}
.css-1yof1af[data-popper-placement^="top"] > [data-popper-arrow]{bottom:-3px;}
.css-1yof1af > .gap-fill{position:absolute;display:block;}
.css-1yof1af[data-popper-placement^="top"] > [data-popper-arrow]::before{transform:rotate(45deg);}
.css-1yof1af[data-popper-placement^="top"] > .gap-fill{bottom:-8px;left:0px;width:100%;height:8px;}
.css-1yof1af .bn-tooltip-arrow::before{background-color:rgb(94, 102, 115);}
.css-1u9esp9{box-sizing:border-box;margin:0px;min-width:0px;}
.css-1u9esp9,.css-1u9esp9::before{position:absolute;width:6px;height:6px;z-index:-1;}
.css-1u9esp9::before{content:"";display:block;}
.css-6dcozs{box-sizing:border-box;margin:0px 8px 0px 0px;min-width:0px;color:rgb(0, 60, 113);max-width:160px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-block;background-color:rgb(255, 255, 255);padding:4px 8px;border-radius:4px;text-align:center;}
/*! CSS Used from: Embedded */
.css-vurnku{box-sizing:border-box;margin:0px;min-width:0px;}
/*! CSS Used from: Embedded */
.css-vurnku{box-sizing:border-box;margin:0px;min-width:0px;}
.css-3j2kqe{box-sizing:border-box;margin:0px;min-width:0px;display:flex;-webkit-box-pack:justify;justify-content:space-between;}
.css-1hs4uya{box-sizing:border-box;margin:0px 0px 8px;min-width:0px;display:flex;flex:1 1 0%;-webkit-box-align:center;align-items:center;}
.css-3fkp93{box-sizing:border-box;margin:0px 8px 0px 0px;min-width:0px;color:rgb(5, 192, 199);max-width:160px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-block;background-color:rgb(255, 255, 255);padding:4px 8px;border-radius:4px;text-align:center;}
.css-1f9551p{box-sizing:border-box;margin:0px;min-width:0px;display:inline-block;position:relative;}
.css-1yof1af{margin:0px;min-width:0px;box-sizing:content-box;position:absolute;width:max-content;word-break:normal;z-index:1400;max-width:296px;font-weight:400;font-size:12px;line-height:16px;color:rgb(255, 255, 255);background-color:rgb(94, 102, 115);border-radius:4px;padding:8px 12px;filter:drop-shadow(rgba(20, 21, 26, 0.08) 0px 3px 6px) drop-shadow(rgba(71, 77, 87, 0.08) 0px 7px 14px) drop-shadow(rgba(20, 21, 26, 0.1) 0px 0px 1px);}
.css-1yof1af[data-popper-placement^="top"] > [data-popper-arrow]{bottom:-3px;}
.css-1yof1af > .gap-fill{position:absolute;display:block;}
.css-1yof1af[data-popper-placement^="top"] > [data-popper-arrow]::before{transform:rotate(45deg);}
.css-1yof1af[data-popper-placement^="top"] > .gap-fill{bottom:-8px;left:0px;width:100%;height:8px;}
.css-1yof1af .bn-tooltip-arrow::before{background-color:rgb(94, 102, 115);}
.css-1u9esp9{box-sizing:border-box;margin:0px;min-width:0px;}
.css-1u9esp9,.css-1u9esp9::before{position:absolute;width:6px;height:6px;z-index:-1;}
.css-1u9esp9::before{content:"";display:block;}
.css-6dcozs{box-sizing:border-box;margin:0px 8px 0px 0px;min-width:0px;color:rgb(0, 60, 113);max-width:160px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-block;background-color:rgb(255, 255, 255);padding:4px 8px;border-radius:4px;text-align:center;}
/*! CSS Used from: Embedded */
.css-vurnku{box-sizing:border-box;margin:0px;min-width:0px;}
/*! CSS Used from: Embedded */
.css-vurnku{box-sizing:border-box;margin:0px;min-width:0px;}
.css-3j2kqe{box-sizing:border-box;margin:0px;min-width:0px;display:flex;-webkit-box-pack:justify;justify-content:space-between;}
.css-1hs4uya{box-sizing:border-box;margin:0px 0px 8px;min-width:0px;display:flex;flex:1 1 0%;-webkit-box-align:center;align-items:center;}
.css-3fkp93{box-sizing:border-box;margin:0px 8px 0px 0px;min-width:0px;color:rgb(5, 192, 199);max-width:160px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-block;background-color:rgb(255, 255, 255);padding:4px 8px;border-radius:4px;text-align:center;}
.css-1f9551p{box-sizing:border-box;margin:0px;min-width:0px;display:inline-block;position:relative;}
.css-1yof1af{margin:0px;min-width:0px;box-sizing:content-box;position:absolute;width:max-content;word-break:normal;z-index:1400;max-width:296px;font-weight:400;font-size:12px;line-height:16px;color:rgb(255, 255, 255);background-color:rgb(94, 102, 115);border-radius:4px;padding:8px 12px;filter:drop-shadow(rgba(20, 21, 26, 0.08) 0px 3px 6px) drop-shadow(rgba(71, 77, 87, 0.08) 0px 7px 14px) drop-shadow(rgba(20, 21, 26, 0.1) 0px 0px 1px);}
.css-1yof1af[data-popper-placement^="top"] > [data-popper-arrow]{bottom:-3px;}
.css-1yof1af > .gap-fill{position:absolute;display:block;}
.css-1yof1af[data-popper-placement^="top"] > [data-popper-arrow]::before{transform:rotate(45deg);}
.css-1yof1af[data-popper-placement^="top"] > .gap-fill{bottom:-8px;left:0px;width:100%;height:8px;}
.css-1yof1af .bn-tooltip-arrow::before{background-color:rgb(94, 102, 115);}
.css-1u9esp9{box-sizing:border-box;margin:0px;min-width:0px;}
.css-1u9esp9,.css-1u9esp9::before{position:absolute;width:6px;height:6px;z-index:-1;}
.css-1u9esp9::before{content:"";display:block;}
.css-6dcozs{box-sizing:border-box;margin:0px 8px 0px 0px;min-width:0px;color:rgb(0, 60, 113);max-width:160px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-block;background-color:rgb(255, 255, 255);padding:4px 8px;border-radius:4px;text-align:center;}
/*! CSS Used from: Embedded */
.css-vurnku{box-sizing:border-box;margin:0px;min-width:0px;}
/*! CSS Used from: Embedded */
.css-vurnku{box-sizing:border-box;margin:0px;min-width:0px;}
.css-3j2kqe{box-sizing:border-box;margin:0px;min-width:0px;display:flex;-webkit-box-pack:justify;justify-content:space-between;}
.css-1hs4uya{box-sizing:border-box;margin:0px 0px 8px;min-width:0px;display:flex;flex:1 1 0%;-webkit-box-align:center;align-items:center;}
.css-3fkp93{box-sizing:border-box;margin:0px 8px 0px 0px;min-width:0px;color:rgb(5, 192, 199);max-width:160px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-block;background-color:rgb(255, 255, 255);padding:4px 8px;border-radius:4px;text-align:center;}
.css-1f9551p{box-sizing:border-box;margin:0px;min-width:0px;display:inline-block;position:relative;}
.css-1yof1af{margin:0px;min-width:0px;box-sizing:content-box;position:absolute;width:max-content;word-break:normal;z-index:1400;max-width:296px;font-weight:400;font-size:12px;line-height:16px;color:rgb(255, 255, 255);background-color:rgb(94, 102, 115);border-radius:4px;padding:8px 12px;filter:drop-shadow(rgba(20, 21, 26, 0.08) 0px 3px 6px) drop-shadow(rgba(71, 77, 87, 0.08) 0px 7px 14px) drop-shadow(rgba(20, 21, 26, 0.1) 0px 0px 1px);}
.css-1yof1af[data-popper-placement^="top"] > [data-popper-arrow]{bottom:-3px;}
.css-1yof1af > .gap-fill{position:absolute;display:block;}
.css-1yof1af[data-popper-placement^="top"] > [data-popper-arrow]::before{transform:rotate(45deg);}
.css-1yof1af[data-popper-placement^="top"] > .gap-fill{bottom:-8px;left:0px;width:100%;height:8px;}
.css-1yof1af .bn-tooltip-arrow::before{background-color:rgb(94, 102, 115);}
.css-1u9esp9{box-sizing:border-box;margin:0px;min-width:0px;}
.css-1u9esp9,.css-1u9esp9::before{position:absolute;width:6px;height:6px;z-index:-1;}
.css-1u9esp9::before{content:"";display:block;}
.css-6dcozs{box-sizing:border-box;margin:0px 8px 0px 0px;min-width:0px;color:rgb(0, 60, 113);max-width:160px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-block;background-color:rgb(255, 255, 255);padding:4px 8px;border-radius:4px;text-align:center;}